#menu {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
}
#menu > div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 1rem;
  transition: 0.3s linear;
}
#menu > div:before {
  content: "";
  display: block;
  border-top: solid 1px rgb(165, 255, 38);
  width: 0;
  height: 1px;
  z-index: 1;
  transition: 0.3s linear;
}
#menu > div:hover {
  color: rgb(165, 255, 38);
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s linear;
}
#menu > div:hover:before {
  width: 2rem;
  transition: 0.3s linear;
}

.element {
  width: 120px;
  height: 120px;
  cursor: default;
}
.element .symbol {
  width: 120px;
  height: 120px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  font-size: 70px;
  text-align: center;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: -1px 0px 63px -17px rgb(217, 255, 48);
  transition: 0.4s linear;
}
.element .symbol {
  width: 120px;
  height: 120px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  font-size: 70px;
  text-align: center;
}
.element .number {
  display: none;
}
.element.colored {
  background: rgba(165, 255, 38, 0.5);
  border: 2px solid rgb(165, 255, 38);
  box-shadow: inset -1px 0px 63px -17px rgb(165, 255, 38);
}
.element.colored .symbol {
  width: 0;
  height: 0;
}
.element.colored .number {
  display: initial;
}
.element:hover {
  z-index: 1000000;
  transition: 0.4s linear;
}
.element:hover .number {
  display: none;
}
.element:hover .symbol {
  width: 120px;
  height: 120px;
  position: relative;
  transition: 0.4s linear;
}
.element:hover.colored {
  background: rgba(165, 255, 38, 0);
  border: 2px solid rgba(165, 255, 38, 0);
  box-shadow: -1px 0px 63px -17px rgb(217, 255, 48);
  transition-delay: 0.4s;
  transition-property: box-shadow;
  transition: box-shadow 0.4s linear;
}

img.s {
  box-sizing: inherit;
  width: auto;
  z-index: 2000;
  font-size: 70px;
  text-align: center;
  border: none;
  font-weight: bold;
  transition: all 0.5s ease-in;
  visibility: hidden;
  overflow-y: scroll;
  background-color: rgba(255, 49, 12, 0.95);
}

.element .displaylarge {
  z-index: 1;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 700px;
  height: 1000px;
  color: rgba(88, 255, 38, 0.75);
  -moz-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  -o-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  -ms-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  transition: 0.4s linear;
}

.buttonpn {
  display: inline-block;
  width: 35px;
  height: 45px;
  color: rgba(255, 49, 12, 0.75);
  background: transparent;
  border: 2px solid rgba(255, 49, 12, 0.75);
  border-radius: 35px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  line-height: 45px;
  top: 15px;
  right: 3em;
  font-size: 15px;
  font-weight: 600;
}

.buttonpn:hover {
  width: 35px;
  height: 45px;
  background-color: rgb(255, 49, 12);
  border-radius: 35px;
  color: #000;
  transition: 0.5s;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  height: 100%;
  color: #fff;
  background-color: rgb(32, 32, 32);
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Century Gothic;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

a {
  color: #afc27d;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

#about {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}
#about .information-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding: 1rem;
}

#c-information-btn.opened {
  right: 51vw;
  transition: all 0.5s ease-in-out;
}

#e-information-btn.opened {
  right: 51vw;
  transition: all 0.5s ease-in-out;
}

.information-content {
  width: 100%;
  height: 100%;
  visibility: hidden;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
  background-color: rgb(0, 0, 0);
  letter-spacing: 2px;
  transition: 0.5s;
}

#c-information.is-viewed {
  visibility: visible;
  opacity: 1;
}
#c-information.is-viewed .information__wrap {
  padding: 4rem;
  padding-right: 20rem;
}
#c-information.is-viewed .information__wrap div,
#c-information.is-viewed .information__wrap p,
#c-information.is-viewed .information__wrap ul,
#c-information.is-viewed .information__wrap li,
#c-information.is-viewed .information__wrap ol,
#c-information.is-viewed .information__wrap a,
#c-information.is-viewed .information__wrap h1,
#c-information.is-viewed .information__wrap h2,
#c-information.is-viewed .information__wrap h3,
#c-information.is-viewed .information__wrap h4,
#c-information.is-viewed .information__wrap h5,
#c-information.is-viewed .information__wrap h6 {
  font-family: Arial, Helvetica, sans-serif;
}

#e-information.is-viewed {
  visibility: visible;
  opacity: 1;
}
#e-information.is-viewed .information__wrap {
  padding: 4rem;
  padding-right: 20rem;
}
#e-information.is-viewed .information__wrap div,
#e-information.is-viewed .information__wrap p,
#e-information.is-viewed .information__wrap ul,
#e-information.is-viewed .information__wrap li,
#e-information.is-viewed .information__wrap ol,
#e-information.is-viewed .information__wrap a,
#e-information.is-viewed .information__wrap h1,
#e-information.is-viewed .information__wrap h2,
#e-information.is-viewed .information__wrap h3,
#e-information.is-viewed .information__wrap h4,
#e-information.is-viewed .information__wrap h5,
#e-information.is-viewed .information__wrap h6 {
  font-family: Arial, Helvetica, sans-serif;
}

.can {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.preview-wrapper {
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.preview-wrapper img {
  height: 100%;
  width: auto;
}

.number {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(165, 255, 38);
  font-size: 32px;
}

.reveal-hide-button {
  margin-left: 2rem;
  margin-bottom: 2rem;
  width: 50px;
  height: 50px;
  position: relative;
  -ms-perspective: 800px;
  perspective: 800px;
  border-radius: 50px;
}

.flip-button {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 50px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.flip-button div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-pack: center;
  justify-content: center;
  -o-box-align: center;
  align-items: center;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  transition: 0.3s linear;
}
.flip-button div.front {
  color: white;
  border: 2px solid white;
}
.flip-button div.front:hover {
  color: rgb(217, 255, 48);
  border: 2px solid rgb(217, 255, 48);
  transition: 0.3s linear;
}
.flip-button div.back {
  color: black;
  background: rgb(217, 255, 48);
  border: 2px solid rgb(217, 255, 48);
}
.flip-button div.back:hover {
  background: white;
  border: 2px solid white;
  transition: 0.3s linear;
}

.flip-button .back {
  transform: rotateY(180deg);
  transition: 0.3s linear;
}

.flip-button.flipped {
  transform: rotateY(180deg);
  transition: 0.3s linear;
}

/* ===== Relevant styles ===== */
svg[height="0"] {
  position: fixed;
}

#container {
  /* also works with an actual image,
   * not just with a CSS gradient *
  url(https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?w=1400)
  	50%/ cover/**/
  filter: url(#grainy);
}/*# sourceMappingURL=gal.css.map */