#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-left: 40vw;
}

.element {
  width: 140px;
  height: 180px;
  cursor: default;
}

.element .symbol {
  width: 120px;
  height: auto;
  width: 100%;
  font-size: 70px;
  text-align: center;
}

img.s {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: auto;
  z-index: 2000;
  font-size: 70px;
  text-align: center;
  border: none;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  visibility: hidden;
  overflow-y: scroll;
  background-color: rgba(255, 49, 12, 0.95);
}

.element .symbol:hover {
  -webkit-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  -moz-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  -o-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  -ms-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
}

.element .displaylarge {
  z-index: 1;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 700px;
  height: 1000px;
  color: rgba(88, 255, 38, 0.75);
  -webkit-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  -moz-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  -o-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  -ms-filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
  filter: drop-shadow(0px 0px 100px rgba(206, 225, 255, 0.95));
}

.buttonpn {
  display: inline-block;
  width: 35px;
  height: 45px;
  color: rgba(255, 49, 12, 0.75);
  background: transparent;
  border: 2px solid rgba(255, 49, 12, 0.75);
  border-radius: 35px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  line-height: 45px;
  top: 15px;
  right: 3em;
  font-size: 15px;
  font-weight: 600;
}

.buttonpn:hover {
  width: 35px;
  height: 45px;
  background-color: #ff310c;
  border-radius: 35px;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  height: 100%;
  color: #fff;
  background-color: #575757;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Century Gothic;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

a {
  color: #afc27d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

.information-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  line-height: 30px;
  position: absolute;
  top: 70px;
  right: 3em;
  font-size: 20px;
  font-weight: 600;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#c-information-btn {
  top: 30px;
}

#e-information-btn {
  top: 70px;
}

#c-information-btn.opened {
  right: 51vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#e-information-btn.opened {
  right: 51vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.information-content {
  width: 100%;
  height: 100%;
  visibility: hidden;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
  background-color: black;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#c-information.is-viewed {
  visibility: visible;
  opacity: 1;
}

#e-information.is-viewed {
  visibility: visible;
  opacity: 1;
}

.information__header {
  line-height: 1.1;
  margin: 0 0 10px;
  padding-left: 10px;
  font-size: 42px;
  text-align: center;
  letter-spacing: 10px;
}

.information__sub-header {
  line-height: 1.1;
  margin: 0 0 30px;
  padding-left: 5px;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 5px;
}

.information__summary {
  text-align: center;
  font-family: Courier New;
}

.information__about {
  text-align: center;
  font-family: Courier New;
  letter-spacing: 2px;
}

.information__about hr {
  width: 100px;
  height: 1px;
  display: block;
  margin: 30px auto;
  border: 0;
  background-color: #fff;
}

.information__about-header {
  margin-top: 60px;
  font-size: 24px;
}

.information__share {
  margin: 100px 0 0;
  text-align: center;
}

.information__share-item {
  display: inline-block;
  margin: 0 10px;
}

.information__share-item a {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
  line-height: 50px;
  position: relative;
  color: #fff;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
}

.information__share-item a:before {
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.can {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.preview-wrapper {
  width: 50%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview-wrapper img {
  height: 100%;
  width: auto;
}
/*# sourceMappingURL=gal.css.map */