#menu {
  position: absolute;
  top: 2rem;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

#menu > div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 1rem;
}

.element {
  width: 140px;
  height: 180px;
  cursor: default;
}

.element .symbol {
  width: 120px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  font-size: 70px;
  text-align: center;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.element .symbol {
  width: 120px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  font-size: 70px;
  text-align: center;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.element:hover {
  z-index: 1000000;
}

.element:hover .symbol {
  border-radius: 0;
  border-radius: 2px;
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  position: relative;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

img.s {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: auto;
  z-index: 2000;
  font-size: 70px;
  text-align: center;
  border: none;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  visibility: hidden;
  overflow-y: scroll;
  background-color: rgba(255, 49, 12, 0.95);
}

.element .displaylarge {
  z-index: 1;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 700px;
  height: 1000px;
  color: rgba(88, 255, 38, 0.75);
  -webkit-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  -moz-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  -o-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  -ms-filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  filter: drop-shadow(0px 0px 10px rgba(206, 225, 255, 0.95));
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.buttonpn {
  display: inline-block;
  width: 35px;
  height: 45px;
  color: rgba(255, 49, 12, 0.75);
  background: transparent;
  border: 2px solid rgba(255, 49, 12, 0.75);
  border-radius: 35px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  line-height: 45px;
  top: 15px;
  right: 3em;
  font-size: 15px;
  font-weight: 600;
}

.buttonpn:hover {
  width: 35px;
  height: 45px;
  background-color: #ff310c;
  border-radius: 35px;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  height: 100%;
  color: #fff;
  background-color: #575757;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Century Gothic;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

a {
  color: #afc27d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

#about {
  position: absolute;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#about .information-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding: 1rem;
}

#c-information-btn.opened {
  right: 51vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#e-information-btn.opened {
  right: 51vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.information-content {
  width: 100%;
  height: 100%;
  visibility: hidden;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
  background-color: black;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#c-information.is-viewed {
  visibility: visible;
  opacity: 1;
}

#c-information.is-viewed .information__wrap {
  padding: 4rem;
  padding-right: 20rem;
}

#c-information.is-viewed .information__wrap div, #c-information.is-viewed .information__wrap p, #c-information.is-viewed .information__wrap ul, #c-information.is-viewed .information__wrap li, #c-information.is-viewed .information__wrap ol, #c-information.is-viewed .information__wrap a, #c-information.is-viewed .information__wrap h1, #c-information.is-viewed .information__wrap h2, #c-information.is-viewed .information__wrap h3, #c-information.is-viewed .information__wrap h4, #c-information.is-viewed .information__wrap h5, #c-information.is-viewed .information__wrap h6 {
  font-family: Arial, Helvetica, sans-serif;
}

#e-information.is-viewed {
  visibility: visible;
  opacity: 1;
}

#e-information.is-viewed .information__wrap {
  padding: 4rem;
  padding-right: 20rem;
}

#e-information.is-viewed .information__wrap div, #e-information.is-viewed .information__wrap p, #e-information.is-viewed .information__wrap ul, #e-information.is-viewed .information__wrap li, #e-information.is-viewed .information__wrap ol, #e-information.is-viewed .information__wrap a, #e-information.is-viewed .information__wrap h1, #e-information.is-viewed .information__wrap h2, #e-information.is-viewed .information__wrap h3, #e-information.is-viewed .information__wrap h4, #e-information.is-viewed .information__wrap h5, #e-information.is-viewed .information__wrap h6 {
  font-family: Arial, Helvetica, sans-serif;
}

.can {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.preview-wrapper {
  width: 50%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview-wrapper img {
  height: 100%;
  width: auto;
}
/*# sourceMappingURL=gal.css.map */